[Unit]
Description=The Unified Storage Management Server
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/var/run/skyringd.pid
ExecStart=/usr/bin/skyring --http-port 8080 -l /var/log/skyring/skyring.log -d /etc/skyring

[Install]
WantedBy=multi-user.target
