[Unit]
Description=Skyring Daemon
Documentation=man:skyring(8)
After=mongod.service salt-master.service
Wants=mongod.service salt-master.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/skyring
ExecStart=/usr/bin/skyring $OPTIONS
KillMode=mixed
LimitNOFILE=64000
PrivateTmp=true

[Install]
WantedBy=multi-user.target
