[project]
	description = SkyRing is a modern, extensible web-based storage management platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nishanth Thomas (nthomas-redhat)
	label-Code-Review = -2..+2 group skyring
	label-Verified = -1..+1 group Registered Users
	submit = group skyring
	submit = group user/Nishanth Thomas (nthomas-redhat)
	pushMerge = group user/Nishanth Thomas (nthomas-redhat)
[access "refs/for/refs/*"]
	read = group user/Nishanth Thomas (nthomas-redhat)
	push = group user/Nishanth Thomas (nthomas-redhat)
	label-Code-Review = -2..+2 group skyring
	label-Code-Review = -2..+2 group user/Nishanth Thomas (nthomas-redhat)
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Nishanth Thomas (nthomas-redhat)
	rebase = group user/Nishanth Thomas (nthomas-redhat)
	removeReviewer = group user/Nishanth Thomas (nthomas-redhat)
	submit = group skyring
	submit = group user/Nishanth Thomas (nthomas-redhat)
	pushMerge = group user/Nishanth Thomas (nthomas-redhat)
[access "refs/heads/*"]
	read = group user/Nishanth Thomas (nthomas-redhat)
	create = group user/Nishanth Thomas (nthomas-redhat)
	push = +force group user/Nishanth Thomas (nthomas-redhat)
	pushMerge = group user/Nishanth Thomas (nthomas-redhat)
[access "refs/tags/*"]
	push = group skyring
	push = +force group user/Nishanth Thomas (nthomas-redhat)
	pushTag = group skyring
	pushTag = group user/Nishanth Thomas (nthomas-redhat)
	pushSignedTag = group skyring
	pushSignedTag = group user/Nishanth Thomas (nthomas-redhat)
	create = group skyring
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase if necessary
