{
    "productname": "Skyring",
    "productversion": "0.0.39",
    "dbsoftware": "Mongo DB",
    "dbsoftwareversion": "2.6.11",
    "monitoringsoftware": "Graphite",
    "monitoringsoftwarever": "0.9.15"
}

