{
    "config": {
        "host": "127.0.0.1",
        "httpPort": 8080,
        "supportedVersions": [
            1
        ]
    },
    "logging": {
        "logtostderr": false,
        "log_dir": "/var/log/skyring",
        "v": 10,
        "vmodule": ""
    },
    "nodemanagementconfig": {
        "managerName": "SaltNodeManager",
        "configFilePath": ""
    },
    "dbconfig": {
        "hostname": "127.0.0.1",
        "port": 27017,
        "database": "skyring",
        "user": "admin",
        "password": "admin"
    },
    "timeseriesdbconfig": {
        "hostname": "127.0.0.1",
        "port": 8086,
        "database": "collectd",
        "user": "admin",
        "password": "admin"
    },
    "authentication": {
        "providerName": "localauthprovider",
        "configFile": "/etc/skyring/authentication.conf"
    }
}