{
    "config": {

       "host":"127.0.0.1"
        "httpPort":8080
    },
    "logging": {
        "logtostderr": false,
        "log_dir": "/var/log/skyring",
        "v": 10,
        "vmodule": ""
    },
    "authentication": {
        "providerName": "localauthprovider",
        "configFile": "/etc/skyring/authentication.conf"
    }
}
