{
    "provider": {
        "name": "ceph",
        "binary": "ceph_provider"
    },
    "routes": [
        {
            "name": "CephHello",
            "method": "GET",
            "pattern": "api/v1/ceph/hello/{name}",
            "pluginFunc": "SayHi",
            "version": 1
        }
    ]
}