policy_module(carbon, 1.0.0)

########################################
#
# Declarations
#

type carbon_t;
type carbon_exec_t;
init_daemon_domain(carbon_t, carbon_exec_t)

type carbon_var_lib_t;
files_type(carbon_var_lib_t)

type carbon_log_t;
logging_log_file(carbon_log_t)

type carbon_var_run_t;
files_pid_file(carbon_var_run_t)

type carbon_unit_file_t;
systemd_unit_file(carbon_unit_file_t)

type mailbox_port_t;
corenet_port(mailbox_port_t)

type xinuexpansion3_port_t;
corenet_port(xinuexpansion3_port_t)

type xinuexpansion4_port_t;
corenet_port(xinuexpansion4_port_t)

type xinuexpansion5_port_t;
corenet_port(xinuexpansion5_port_t)

permissive carbon_t;

########################################
#
# carbon local policy
#
allow carbon_t self:capability { dac_override fowner fsetid setgid setuid };
allow carbon_t self:capability2 block_suspend;
allow carbon_t self:fifo_file rw_fifo_file_perms;
allow carbon_t self:unix_stream_socket create_stream_socket_perms;
allow carbon_t self:tcp_socket { listen accept create_socket_perms };

manage_dirs_pattern(carbon_t, carbon_log_t, carbon_log_t)
manage_files_pattern(carbon_t, carbon_log_t, carbon_log_t)
logging_log_filetrans(carbon_t, carbon_log_t, { dir })

manage_dirs_pattern(carbon_t, carbon_var_lib_t, carbon_var_lib_t)
manage_files_pattern(carbon_t, carbon_var_lib_t, carbon_var_lib_t)
files_var_lib_filetrans(carbon_t, carbon_var_lib_t, { file dir })

manage_files_pattern(carbon_t, carbon_var_run_t, carbon_var_run_t)
files_pid_filetrans(carbon_t, carbon_var_run_t, { file })

kernel_read_system_state(carbon_t)
kernel_read_network_state(carbon_t)

auth_read_passwd(carbon_t)

corecmd_exec_shell(carbon_t)

corenet_tcp_bind_afs_pt_port(carbon_t)
corenet_tcp_bind_lmtp_port(carbon_t)
allow carbon_t mailbox_port_t:tcp_socket name_bind;
allow carbon_t mailbox_port_t:tcp_socket name_connect;
allow carbon_t xinuexpansion3_port_t:tcp_socket name_bind;
allow carbon_t xinuexpansion4_port_t:tcp_socket name_bind;
allow carbon_t xinuexpansion5_port_t:tcp_socket name_bind;

corenet_tcp_bind_generic_node(carbon_t)

libs_exec_ldconfig(carbon_t)

optional_policy(`
	carbon_stub_httpd()
	manage_dirs_pattern(httpd_t, carbon_var_lib_t, carbon_var_lib_t)
	manage_files_pattern(httpd_t, carbon_var_lib_t, carbon_var_lib_t)
	corenet_tcp_bind_amanda_port(httpd_t)
')

optional_policy(`
	carbon_stub_lib()
	dontaudit carbon_t lib_t:dir add_name;
')

require {
	type lib_t;
	type carbon_t;
	class dir { remove_name write };
	class file { write rename create };
}

# We have to enhance this part later. There is a carbon bug here
# Carbon creates a temporary file in /usr/lib dir and remove it on flow
# Until its fixed in carbon we can allow this
allow carbon_t lib_t:dir { remove_name write };
allow carbon_t lib_t:file { write rename create };
