policy_module(salt, 1.0.0)

########################################
#
# Declarations
#

type salt_t;
type salt_exec_t;
init_daemon_domain(salt_t, salt_exec_t)

type salt_cache_t;
files_type(salt_cache_t)

type salt_log_t;
logging_log_file(salt_log_t)

type salt_var_run_t;
files_pid_file(salt_var_run_t)

type salt_tmpfs_t;
files_tmpfs_file(salt_tmpfs_t)

type salt_data_t;
files_type(salt_data_t)

type salt_unit_file_t;
systemd_unit_file(salt_unit_file_t)

type salt_conf_t;
files_config_file(salt_conf_t)

type salt_tmp_t;
files_type(salt_tmp_t)

########################################
#
# salt local policy
#
allow salt_t self:capability { net_admin sys_rawio };
allow salt_t self:capability2 block_suspend;
allow salt_t self:netlink_route_socket { create_netlink_socket_perms };
allow salt_t self:udp_socket { create_socket_perms };
allow salt_t self:tcp_socket { accept listen create_socket_perms };
allow salt_t self:unix_dgram_socket create_socket_perms;
allow salt_t self:unix_stream_socket connectto;

manage_dirs_pattern(salt_t, salt_cache_t, salt_cache_t)
manage_files_pattern(salt_t, salt_cache_t, salt_cache_t)
manage_lnk_files_pattern(salt_t, salt_cache_t, salt_cache_t)
files_var_filetrans(salt_t, salt_cache_t, { dir file lnk_file })

manage_dirs_pattern(salt_t, salt_log_t, salt_log_t)
manage_files_pattern(salt_t, salt_log_t, salt_log_t)
manage_lnk_files_pattern(salt_t, salt_log_t, salt_log_t)
logging_log_filetrans(salt_t, salt_log_t, { dir file lnk_file })

manage_dirs_pattern(salt_t, salt_var_run_t, salt_var_run_t)
manage_files_pattern(salt_t, salt_var_run_t, salt_var_run_t)
manage_lnk_files_pattern(salt_t, salt_var_run_t, salt_var_run_t)
manage_sock_files_pattern(salt_t, salt_var_run_t, salt_var_run_t)
files_pid_filetrans(salt_t, salt_var_run_t, { dir file lnk_file sock_file })

manage_dirs_pattern(salt_t, salt_tmp_t, salt_tmp_t)
manage_files_pattern(salt_t, salt_tmp_t, salt_tmp_t)
files_tmp_filetrans(salt_t, salt_tmp_t, { dir file })

manage_files_pattern(salt_t, salt_tmpfs_t, salt_tmpfs_t)
fs_tmpfs_filetrans(salt_t, salt_tmpfs_t, { file })

manage_dirs_pattern(salt_t, salt_data_t, salt_data_t)
manage_files_pattern(salt_t, salt_data_t, salt_data_t)

allow salt_t salt_conf_t:dir manage_dir_perms;
allow salt_t salt_conf_t:file manage_file_perms;

kernel_dgram_send(salt_t)
kernel_read_ring_buffer(salt_t)
kernel_read_system_state(salt_t)
kernel_read_network_state(salt_t)
kernel_read_net_sysctls(salt_t)
kernel_read_software_raid_state(salt_t)

auth_read_passwd(salt_t)

corecmd_exec_shell(salt_t)
corecmd_exec_bin(salt_t)

corenet_tcp_bind_generic_node(salt_t)
corenet_tcp_bind_salt_port(salt_t)

dev_read_sysfs(salt_t)

dmidecode_domtrans(salt_t)
dmesg_domtrans(salt_t)

fs_getattr_tmpfs(salt_t)

libs_exec_ldconfig(salt_t)

sysnet_read_config(salt_t)
sysnet_exec_ifconfig(salt_t)

optional_policy(`
    systemd_exec_systemctl(salt_t)
    systemd_hostnamed_read_config(salt_t)
')

optional_policy(`
    gnome_read_home_config(salt_t)
')

optional_policy(`
	dbus_system_bus_client(salt_t)
')

