policy_module(skyring, 1.0.0)

########################################
#
# Declarations
#

type skyring_t;
type skyring_exec_t;
init_daemon_domain(skyring_t, skyring_exec_t)

type skyring_log_t;
logging_log_file(skyring_log_t)

type skyring_var_lib_t;
files_type(skyring_var_lib_t)

type skyring_var_run_t;
files_pid_file(skyring_var_run_t)

type skyring_unit_file_t;
systemd_unit_file(skyring_unit_file_t)

########################################
#
# skyring local policy
#
allow skyring_t self:capability net_admin;
allow skyring_t self:capability2 block_suspend;
allow skyring_t self:fifo_file rw_fifo_file_perms;
allow skyring_t self:unix_stream_socket create_stream_socket_perms;
allow skyring_t self:tcp_socket { accept listen };
allow skyring_t self:netlink_route_socket nlmsg_write;

manage_dirs_pattern(skyring_t, skyring_log_t, skyring_log_t)
manage_files_pattern(skyring_t, skyring_log_t, skyring_log_t)
manage_lnk_files_pattern(skyring_t, skyring_log_t, skyring_log_t)
logging_log_filetrans(skyring_t, skyring_log_t, { dir file lnk_file })

manage_dirs_pattern(skyring_t, skyring_var_lib_t, skyring_var_lib_t)
manage_files_pattern(skyring_t, skyring_var_lib_t, skyring_var_lib_t)
exec_files_pattern(skyring_t, skyring_var_lib_t, skyring_var_lib_t)
manage_lnk_files_pattern(skyring_t, skyring_var_lib_t, skyring_var_lib_t)
files_var_lib_filetrans(skyring_t, skyring_var_lib_t, { dir file lnk_file })

manage_sock_files_pattern(skyring_t, skyring_var_run_t, skyring_var_run_t)
files_pid_filetrans(skyring_t, skyring_var_run_t, sock_file)

kernel_read_system_state(skyring_t)
kernel_read_unix_sysctls(skyring_t)
kernel_read_net_sysctls(skyring_t)

auth_read_passwd(skyring_t)

corecmd_exec_shell(skyring_t)

corenet_tcp_bind_generic_node(skyring_t)
corenet_tcp_bind_http_cache_port(skyring_t)
corenet_tcp_bind_transproxy_port(skyring_t)
corenet_tcp_connect_mongod_port(skyring_t)

dev_read_sysfs(skyring_t)

libs_exec_ldconfig(skyring_t)

sysnet_dns_name_resolve(skyring_t)
sysnet_exec_ifconfig(skyring_t)

optional_policy(`
    salt_read_cache(skyring_t)
    salt_stream_connect(skyring_t)
    salt_read_data(skyring_t)
    skyring_stream_connect_salt(skyring_t)
')

optional_policy(`
    gnome_read_home_config(skyring_t)
')

optional_policy(`
    systemd_hostnamed_read_config(skyring_t)
')
